body {
	font-family: 'Lato';
	background-color: #fff;
}

h1, h2 {
	color: #002b5a;
	margin-bottom: 42px;
	text-transform: capitalize;
}

h1 {
	font-size: 42px;
	font-weight: 300;
}

h2 {
	font-size: 40px;
	font-weight: 300;
}

h3 {
	color: #002b5a;
	font-size: 15px;
	font-weight: normal;
}
