.banner
	.title 
		h1 Hungry For Apples?
	.connect
		span Connect:
		a(href="https://www.facebook.com/hungryforapples/").facebook
		a(href="https://twitter.com/Hungry_Apples").twitter
		a(href="https://www.pinterest.com/hungryforapples").pinterest
		a(href="mailto:hungryforapples@apples.apple").email
	.image
		