.carousel.container
	.spinner
		.item
			img(src="dist/assets/images/apples_grab_text.jpg", alt="apples")
		.item
			img(src="dist/assets/images/apples_medley_text.jpg", alt="apples")
		.item
			img(src="dist/assets/images/apples_pair_text.jpg", alt="apples")
		.item
			img(src="dist/assets/images/apples_pile_text.jpg", alt="apples")