.headline.container
	.row
		.col-md-8.col-sm-12
			h1 Are you hungry?

			p What are apples? Apples are food. And when do we need food? When we're hungry.

			p Discover the latest interactive trend in forward-thinking cuisine that's disrupting the mouth market. This transformative rock star of the food scene is revolutionizing how people engage with the cutting edge of their teeth. By combining leading mouth-feel qualities and groundbreaking flavors, apples have exponentially pivoted to become the Uber for unicorn fruit.

		.col-md-4.col-sm-12
			include _searchbox.jade