.headline.container
	.row
		.col-md-8.col-sm-12
			h1 in Gravida Libero

			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim neque, molestie ut placerat id, tincidunt in sem. Pellentesque sodales lobortis eros nec pulvinar. In ac ultrices ipsum, ultricies semper nisi. Morbi ac hendrerit nulla. Sed nec ex commodo, tincidunt felis ac, iaculis ipsum.

			p Morbi ac hendrerit nulla. Sed nec ex commodo, tincidunt felis ac, iaculis ipsum
		.col-md-4.col-sm-12
			include _searchbox.jade