.menu.container
	h1 Why Choose Apples?
	.row
		.item.col-md-4
			h3 Delicious
			p With a combination of simple and complex carbohydrate molecules, apples remain undefeated in the flavor wars of the 21st century.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Innovation
			p Apples make ideal friends and accompaniment to a variety of dishes. Several Michelin starred restaurant employ apples as head chefs for their culinary skill and innovative nature.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Integrity
			p Apples have becomes synonomous with enduring character and high moral standards. By resisting greed and narcissism, they show remarkable talent in motivating other fruit.
			.button
				a Learn More
				.image
	.row
		.item.col-md-4
			h3 Allure
			p Apples possess mysterious abilities to leave onlookers confused and intrigued. This often causes bystanding to pause and reconsider their life choices.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Religious
			p Despite a reputation for agnosticism, apples show remarkable piety, and have been many times invited by the pope to clarify matters of grave social and ecclesial concern.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Intelligence
			p Apart from their contributions to theoretical chronodimensional physics, many apples are renowned essayists, bringing enlightening views on moral and societal issues.
			.button
				a Learn More
				.image