.menu.container
	h1 In Gravida
	.row
		.item.col-md-4
			h3 Cras ac mauris
			p nteger dictum hendrerit pharetra. Cras fermentum posuere egestas.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Curabitur elementum
			p Cras vel imperdiet mauris. Pellentesque libero mauris, interdum a felis et, condimentum mattis erat.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Awards and Recognitions
			p Aliquam eget ligula mauris. Etiam viverra non turpis eu auctor. Nullam pretium est libero, et condimentum massa egestas id.
			.button
				a Learn More
				.image
	.row
		.item.col-md-4
			h3 Morbi placerat
			p  Nam feugiat ultrices ligula eget faucibus. Mauris convallis ipsum est.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Suspendisse eu
			p Duis pretium elementum dui, id feugiat neque facilisis vel.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Integer faucibus
			p Vivamus at rutrum est, eu pellentesque lacus. Curabitur imperdiet tortor sit amet enim ullamcorper, a aliquet odio rutrum.
			.button
				a Learn More
				.image