.product-detail
	.modal.fade#product-detail
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(
						type='button'
						data-dismiss='modal'
						) &times;
					h4.modal-title Title
					h5.modal-subtitle Subtitle
				.modal-body
					.row
						.col-md-6.col-xs-12
							p.text Body
							.features
								.feature
									.bullet1
									span#feature1 Non ports dui eismond rec
								.feature
									.bullet2
									span#feature2 Ut tristque opsum volit
								.feature
									.bullet3
									span#feature3 Quistique mollis justen
							button.btn.btn-secondary(
								type='button'
								data-dismiss='modal'
								) Buy Online
								.link-image

						.col-md-6.col-xs-12
							.image
								.bullets
								img(src='')

				