.search-detail
	.modal.fade#search-detail
		.modal-dialog
			.modal-content
				.modal-header
					button.close(
						type='button'
						data-dismiss='modal'
						) &times;
					h1.modal-title Title
				.modal-body
					p.text #[span.state state] is a wonderful place to find a variety of delicious apples. Feeling hungry? Then head to #[span.state state] today!
