.searchbox
		h3 Apple Finder
		p Satisfy your hunger by finding local apples
		.searchbar
			.image
			input.awesomplete(
				type='text'
				placeholder='Find apples in your state'
				list='statelist'
				)
		
		datalist#statelist
			option Alabama
			option Alaska
			option Arizona
			option Arkansas
			option California
			option Colorado
			option Connecticut
			option Delaware
			option District Of Columbia
			option Florida
			option Georgia
			option Hawaii
			option Idaho
			option Illinois
			option Indiana
			option Iowa
			option Kansas
			option Kentucky
			option Louisiana
			option Maine
			option Maryland
			option Massachusetts
			option Michigan
			option Minnesota
			option Mississippi
			option Missouri
			option Montana
			option Nebraska
			option Nevada
			option New Hampshire
			option New Jersey
			option New Mexico
			option New York
			option North Carolina
			option North Dakota
			option Ohio
			option Oklahoma
			option Oregon
			option Pennsylvania
			option Rhode Island
			option South Carolina
			option South Dakota
			option Tennessee
			option Texas
			option Utah
			option Vermont
			option Virginia
			option Washington
			option West Virginia
			option Wisconsin
			option Wyoming

// search result modal
include _search-detail.jade