doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, user-scalable=no')
		link(href='dist/css/main.css' rel='stylesheet')


		title Hungry For Apples?
	body
	
		// top banner
		include _banner.jade

		// exposition area w/ searchbox
		include _headline.jade

		// carousel
		include _carousel.jade

		// 'learn more' links
		include _menu.jade

		// product links w/ filter dropdown
		include _products.jade

		// credits
		include _footer.jade

		script(src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
		script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js" type="text/javascript")
		script(src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js")
		script(src='dist/js/main.js' type='text/javascript')
		script(src='dist/js/awesomplete.min.js' type='text/javascript')
